@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: Helvetica, sans-serif;
}

ul {
  font-size: 2rem;
  font-weight: 600;
  list-style: none;
  padding: 1rem;
  text-align: center;
}

a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

a.active {
  text-decoration: underline;
}

canvas {
  margin-left: 60px;
}

#nav {
  background: #262626;
  height: 100vh;
  width: 60px;
}